

mixin range-slider(options = {})
  - 
    const {title = 'Range slider', footerText = '', type = 'double', min = '500', max = '15000', from = '5000', to = '10000' } = options

  .rslider
    .rslider__head
      .rslider__title= title
      .rslider__values 5000ла - 10000ла
    input.js-rslider(data-min=min data-max=max data-type=type data-from=from data-to=to)
    if footerText
      .rslider__footer= footerText