include ../../components/container/container
include ../../components/kit-logo/kit-logo
include ../../components/date-dropdown/date-dropdown
include ../../components/text-field/text-field
include ../../components/calendar/calendar
include ../../components/subscription/subscription
include ../../components/dropdown/dropdown

doctype html 
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Forms Elements

  body
    block main
      .form-elements
        .form-elements__logo
          +kit-logo

        +container()
          .form-elements__content
            .form-elements__left
              .form-elements__item
                .form-elements__title
                  .form-elements__name= 'text-field'
                  .form-elements__state= 'default'
                +text-field({placeholder: 'Email'})

              .form-elements__item
                .form-elements__title
                  .form-elements__name= 'text-field'
                  .form-elements__state= 'hover / focus'
                +text-field({placeholder: 'Email', value: 'This is pretty awesome', isFocused: true})

              .form-elements__item
                .form-elements__title
                  .form-elements__name= 'dropdown'
                +dropdown({type: 'guest'})

              .form-elements__item.form-elements__item_mb40
                .form-elements__title
                  .form-elements__name= 'masked text-field'
                +text-field({isMask: true})

              .form-elements__item.form-elements__item_mb40
                +date-dropdown()

              .form-elements__item
                +text-field({placeholder: 'Email', value: '19 авг - 23 авг', isLabel: true, title: 'filter date dropdown'})

              .form-elements__item
                +subscription({placeholder: 'Email'})

            .form-elements__middle
              .form-elements__item
                .form-elements__title
                  .form-elements__name= 'text-field'
                  .form-elements__state= 'default'
                +text-field({placeholder: 'Email'})

            .form-elements__right
              .form-elements__item
                .form-elements__title
                  .form-elements__name= 'text-field'
                  .form-elements__state= 'default'
                +text-field({placeholder: 'Email'})



