//-
  options.items - массив с элементами меню
  options.items[0].name - имя элемента меню
  options.items[0].href - ссылка элемента меню

mixin footer(options)
  if !options
    - options = {}

  if !options.items
    - options.items = []

  footer.footer(options)
    +container()
      .footer__content
        .footer__col
          a.footer__logo(href = '/')
            img.footer__img-logo(src='./img/logo.svg' alt='logo')
          p.footer__text= 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'

        for item in options.menuItems
          .footer__col
            h5.footer__title= item.title
            .footer__list
              for listItem in item.list
                a.footer__list-item(href= listItem.href)= listItem.name
        .footer__col
          h5.footer__title= options.subscription.title
          .footer__list
            p.footer__text= options.subscription.text
            input(placeholder= options.subscription.placeholder)
    .copyright
      +container()
        .copyright__content
          .copyright__text= options.copyright
          +socials()

